In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('daily-total-female-births-CA.csv')

In [4]:
df.head()

         date  births
0  1959-01-01      35
1  1959-01-02      32
2  1959-01-03      30
3  1959-01-04      31
4  1959-01-05      44

In [4]:
df.isnull().sum()

date      0
births    0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
date      365 non-null object
births    365 non-null int64
dtypes: int64(1), object(1)
memory usage: 5.8+ KB

In [6]:
df['date'].dtype

dtype('O')

- In the above method of importing the Dataset, we can see that the DateTime are in object format.
- Instead of loading and then Changing them, we can directly load those specific features in DateTime format.
- This is possble by mentioning parse_dates = ['Column Index'].

In [9]:
df2 = pd.read_csv('daily-total-female-births-CA.csv',parse_dates = [0])

In [12]:
df2.head()

        date  births
0 1959-01-01      35
1 1959-01-02      32
2 1959-01-03      30
3 1959-01-04      31
4 1959-01-05      44

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
date      365 non-null datetime64[ns]
births    365 non-null int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 5.8 KB